*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/*  ********  */
.wrapper {
  width: 100%;
  min-height: 80%;
  height: 80%;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  background-image: url("	https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png");
  background-repeat: no-repeat;
  width: 465px;
  height: 635px;

  margin-right: 10px;
}

.navbar-right {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  padding: 10px 0;

  width: 350px;
  height: 395px;

  margin-top: -200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
  margin-top: 25px;
}

.navbar-right-form {
  margin: 0 auto;
  text-align: center;
}

.navbar-right-form input {
  font-size: 16px;
  padding: 9px 0px 7px 8px;
  width: 265px;
  height: 36px;

  background-color: #fafafa;

  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.navbar-right-form input::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-right__text {
  color: #8e8e88;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.navbar-right__facebook {
  color: #385185;

  margin-bottom: 10px;
}

.navbar-right__link {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.footer__links a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;

  padding: 10px 15px 10px 0;
}
